<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- windows -> preferences -> XML(Wild Web Developer) 
  	   -> Download exter... check 후 저장 
   -->
  
  
  <mapper namespace="com.winter.app.board.notice.NoticeDAO">
  
  	<select id="getList" resultType="NoticeVO" parameterType="Pager">
  		SELECT * FROM NOTICE_TBL
  		ORDER BY BOARD_NUM DESC
  		LIMIT #{startNum} , #{perPage}
  		
  	</select>
  	
  	<insert id="test" parameterType="java.util.List">
  		<!-- 다중 insert -->
  		
  		INSERT 
  		INTO NOTICE_TBL 
  		(BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HIT, USER_NAME)
  		VALUES 
  		<foreach collection="list" item="item" open="" separator="," close="">
  		(#{item.boardTitle}, #{item.boardContents}, NOW(), 0, #{item.userName})
  		</foreach>
  		
  		
  	</insert>
  	
  	
  </mapper>